<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome - Bar Freesia </title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="welcome-container">
      <div class="logo-icon">🍸</div>
      <div class="shop-name">Bar Freesia</div>
      <p class="message">
        ご来店ありがとうございます。<br />
        スマートフォンから<br />ご注文いただけます。
      </p>

      <a href="/menu" class="start-btn">注文を始める</a>
    </div>
  </body>
</html>
